<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li><h3>第：[{{ get_content.id }}]集</h3></li>
        <li><h3>主要内容：[{{ get_content.content }}]</h3></li>
        <li><h3>时长：[{{ get_content.longtime }}]</h3></li>
        <li><h3>人物：[{{ get_content.person }}]</h3></li>
    </ul>
</body>
</html>

{#{% block content %}#}
{#    <li><h3>第：[{{ get_content.id }}]集</h3></li>#}
{#    <li><h3>主要内容：[{{ get_content.content }}]</h3></li>#}
{#    <li><h3>时长：[{{ get_content.longtime }}]</h3></li>#}
{#    <li><h3>人物：[{{ get_content.person }}]</h3></li>#}
{#{% endblock %}#}